@model ReportViewModel.ReportEntry
@if ((string)ViewData["Balance"] == "Debit") { Model.CreditAmount *= -1; }
@if (Model.EntryType == ReportViewModel.ReportEntryType.Head || Model.CreditAmount != 0)
{
    if (Model.EntryType == ReportViewModel.ReportEntryType.Account)
    {
        <td>@Html.ActionLink(Model.Name, "ListLedgerAccount", "Transaction", new { ledgerAccountId = Model.Id }, null)</td>
    }
    else if (Model.Id > 0)
    {
        <td>@Html.ActionLink(Model.Name, "ListLedgerHead", "Transaction", new { ledgerHeadId = Model.Id }, null)</td>
    }
    else
    {
        <td>@Html.ActionLink(Model.Name, "PnL", "Report", null, null)</td>
    }
    <td class="text-right @(Model.CreditAmount<0?"danger":"")">@(Model.CreditAmount.ToString("C"))</td>
}
@{
    if (Model.SubEntry != null && Model.SubEntry.Count > 0)
    {
        foreach (var entry in Model.SubEntry.OrderBy(x => x.Name))
        {
            <tr class="childEntry EntryType@(entry.EntryType == ReportViewModel.ReportEntryType.Head ? "Head" : "Account")">
                @{
                    Html.RenderPartial("ReportEntry", entry);
                }
            </tr>
        }
    }
}
